[submodule "amf"]
	path = NFs/amf
	url = https://github.com/IreneLou/amf.git
[submodule "ausf"]
	path = NFs/ausf
	url = https://github.com/IreneLou/ausf.git
[submodule "n3iwf"]
	path = NFs/n3iwf
	url = https://github.com/IreneLou/n3iwf.git
[submodule "nrf"]
	path = NFs/nrf
	url = https://github.com/IreneLou/nrf.git
[submodule "nssf"]
	path = NFs/nssf
	url = https://github.com/IreneLou/nssf.git
[submodule "pcf"]
	path = NFs/pcf
	url = https://github.com/IreneLou/pcf.git
[submodule "smf"]
	path = NFs/smf
	url = https://github.com/IreneLou/smf.git
[submodule "udm"]
	path = NFs/udm
	url = https://github.com/IreneLou/udm.git
[submodule "udr"]
	path = NFs/udr
	url = https://github.com/IreneLou/udr.git
[submodule "upf"]
	path = NFs/upf
	url = https://github.com/IreneLou/upf.git
[submodule "webconsole"]
	path = webconsole
	url = https://github.com/IreneLou/webconsole.git
